<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="public/style/navabar.css">
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        
        {% block body %}
        
        {% endblock %}

        {% include 'footer.html.twig' %}
    </body>
    <script src="/public/script/navbar.js"></script>
</html>
